<head>
    <!-- 메타데이터 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="사이트 설명을 여기에 입력하세요.">

    <!-- Title (사이트 제목) -->
    <title>{{ .Title }} - {{ .Site.Title }}</title>

    <!-- Stylesheets (CSS 파일 추가) -->
    <link rel="stylesheet" href="/css/certificates.css"> <!-- 여기서 만든 CSS 파일 불러오기 -->

    <!-- Favicon -->
    <link rel="icon" href="/favicon.ico">
</head>
