<div class="slider">
    <div class="slides">
        <input type="radio" name="slider" id="slide1" checked>
        <input type="radio" name="slider" id="slide2">
        <input type="radio" name="slider" id="slide3">
        <input type="radio" name="slider" id="slide4">
        
        <div class="slide slide1">
            <img src="/assets/media/image_slider/background.jpg" alt="Image 1">
            <h2>나의 관심사</h2>  <!-- 제목 추가 -->
        </div>
        <div class="slide slide2">
            <img src="assets/media/image_slider/backend.jpg" alt="Image 2">
            <h2>Back-end</h2>  <!-- 제목 추가 -->
        </div>
        <div class="slide slide3">
            <img src="/assets/media/image_slider/frontend.jpg" alt="Image 3">
            <h2>Front-end</h2>  <!-- 제목 추가 -->
        </div>
        <div class="slide slide4">
            <img src="/assets/media/image_slider/database.jpg.jpg" alt="Image 4">
            <h2>DataBase</h2>  <!-- 제목 추가 -->
        </div>
        
        <div class="navigation">
            <label for="slide1"></label>
            <label for="slide2"></label>
            <label for="slide3"></label>
            <label for="slide4"></label>
        </div>
    </div>
</div>
